
<br />

<h3>حالة النظام</h3>

<div class="progress progress-striped active">
  <div class="bar" style="width: 55%"></div>
</div>

</div>

<hr>

<div class="container">
    <footer class="copyright">

	    <!-- Languages -->		
		    <div class="btn-group">
		    <button class="btn btn-small">اللغة</button>
		    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
		    	<li><a href="http://localhost/cliprz_market/language/arabic/direction/rtl">عربي</a></li>
		    	<li><a href="http://localhost/cliprz_market/language/english/direction/ltr">أنجليزي</a></li>
		    </ul>
		    </div>
	    <!-- Languages -->		

	    <!-- Templates -->		
			<div class="btn-group">
		    <button class="btn btn-small">القالب</button>
		    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
		    	<li><a href="http://localhost/cliprz_market/template/default">الافتراضي</a></li>
		    </ul>
		    </div>
	    <!-- Templates -->		

		<div>جميع الحقوق محفوظة &copy; 2013. </div><div style="font-size: smaller;">يعمل تحت أطار عمل <a href="http://www.cliprz.org">كليبرز</a> , صمم بواسطة أطار تويتر <a target="_blank" href="http://twitter.github.com/bootstrap/">بوتستراب</a>.</div>    </footer>
</div>

</body>
</html>